<!--
/**
 * @project NumberNinja
 * @authors Abhinaw Sarang, Sagar Khar
 */
-->

<div>
    <app-teachertoolbar></app-teachertoolbar>
</div>
<div>
    <button mat-button class="btn btn-info" (click)="addQuestion()">Add Question</button>
    <button mat-button class="btn btn-info" (click)="goBack()">Back</button>
  </div>
<mat-table [dataSource]="dataSource" class="matTable" >
  
  <!-- Question Name column -->
  <ng-container matColumnDef="question">
    <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px">Question</mat-header-cell>
    <mat-cell *matCellDef="let element" class="hyperlink">{{element.formulaWithBlanks}}</mat-cell>
  </ng-container>

  <!-- Question Type Column -->
  <ng-container matColumnDef="questiontype">
    <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px">Question Type</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.formulaType}} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px"></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button (click)="editQuestion(element)"><mat-icon>edit</mat-icon></button>
      <button mat-button (click)="deleteQuestion(element)"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>