/**
 * @project NumberNinja
 * @author Sukhpreet Singh Anand, Saksham Jhawar
 */

.navbar {
    margin-top: 1px;
    padding: 1px;
    margin-bottom: 0px;
}
.navbar-brand {
    font-family: lobster;
    font-style: italic; 
}
.navbar-default{
    background: lightseagreen;
}
.glyphicon {
    font-size: 18px;
    padding-left: 8px;
}
.buttons{
    padding-top: 6px;
    margin-left: 70px;
    margin-top: 2px;
    border-radius: 25px;
    border-color: orange;
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
}
.image{
    position: absolute;
    z-index: -1;
    background: url('../../../assets/images/instructor.jpg') center center;
    opacity: .4;
    width: 110%;
    height: 650px;
}
