/**
 * @project NumberNinja
 * @author Sagar Khar
 */


.toolbar{
    background-color:  rgb(76, 76, 82);
    border-radius: 5px;
    color: white;

}

.toolbar-spacer{
    flex: 1 1 auto;
}

.container{
    background-color:  rgb(76, 76, 82);
    border-radius: 5px;
    color: white;

}
.matTable{
    background-color: whitesmoke;
    margin-top: 1px;
}
.mat-cell {
    color:black;
    border-bottom: 1px groove;
}
.mat-header-cell{
    color: black;
    border-bottom: 1px solid;
}
.btn-info{
    border-radius: 20px;
}