<!--<mat-card>
    <mat-card-header>
        <mat-toolbar class="toolbar">
            <mat-card-title>Question List</mat-card-title>
            <span class="toolbar-spacer"></span>
        </mat-toolbar>
    </mat-card-header>
      
    <mat-table [dataSource]="dataSource" class="matTable" >-->
              
        <!-- Question name -->
        <!--<ng-container matColumnDef="question">
            <mat-header-cell *matHeaderCellDef>Question</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.formula}} </mat-cell>
        </ng-container>-->

        <!-- Question type -->
        <!--<ng-container matColumnDef="questiontype">
            <mat-header-cell *matHeaderCellDef>Question Type</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.formulaType}} </mat-cell>
        </ng-container>-->

        <!-- Completion Status -->
        <!--<ng-container matColumnDef="completionstatus">
            <mat-header-cell *matHeaderCellDef>Completion Status</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.completionStatus}} </mat-cell>
        </ng-container>-->

        <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
</mat-card>-->