<!--
/**
 * @project NumberNinja
 * @authors Sukhpreet Singh Anand, Saksham Jhawar
 */
-->

<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Assignment Information</mat-card-title>
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="onNoClick()"><mat-icon>cancel</mat-icon></button>
    </mat-toolbar>
</mat-card-header>
<mat-card-content>
    <div class="container">
        <form ngNativeValidate [formGroup]="addAssignmentForm" (submit)="onSubmit()">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="name" style="font-family: 'Times New Roman', Times, serif ; font-size: 16px">Assignment Name:</label>
                        <input id="name" type="text" formControlName="name" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="description" style="font-family: 'Times New Roman', Times, serif ; font-size: 16px">Assignment Description:</label>
                        <input id="description" type="text" formControlName="description" class="form-control" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="duedate" style="font-family: 'Times New Roman', Times, serif ; font-size: 16px">Due Date:</label>
                        <input id="duedate" type="date" min="{{currentDate | date:'yyyy-MM-dd'}}" [(ngModel)]="datemodel" formControlName="duedate" class="form-control" required>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-6">
                        <label for="grade" style="font-family: 'Times New Roman', Times, serif ; font-size: 16px">Grade:</label>
                        <select class="form-control" id="grade" width='50%' formControlName="grade" required>
                            <option *ngFor="let grade of allowedGrades" value={{grade}}>
                                {{grade}}
                            </option>
                        </select>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-success">
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-card-content>