<div *ngIf="!show">
  <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#" style="color:white; font-size: 40px">Number</a>
              <a class="navbar-brand" href="#" style="color:darkorchid; font-size: 25px; padding: 9px">Ninja</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="buttons"><a href="#" style="color:black; font-size: 14px;"><b>ASSIGNMENTS</b></a></li>
              <li class="buttons"><a href="#" style="color:black; font-size: 14px;" routerLink ="/student/canvas/playground"><b>PLAYGROUND</b></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a (click)="Logout()"><span class="glyphicon glyphicon-user" style="color:rgb(0, 2, 145)"></span> <br><p class="last"><b>Log Out</b></p></a></li>
            </ul>
          </div>
    </nav>
    <body class="image7"></body>
</div>
<div *ngIf="show">
  <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand1" href="#" style="color:whitesmoke; font-size: 40px"><u>Number</u></a>
                <a class="navbar-brand1" href="#" style="color:yellow; font-size: 25px; padding: 9px"><u>Ninja</u></a>
            </div>
            <ul class="nav navbar-nav">
              <li><a class="neeche" href="#" style="color:black; font-family:Monoton; font-size: 15px;">ASSIGNMENTS</a></li>
              <li><a class="neeche" style="color:black; font-family:Monoton; font-size: 15px;" routerLink = "/student/canvas/playground">PLAYGROUND</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a (click)="Logout()"><span class="glyphicon glyphicon-user" style="color:cyan"></span> <br><p class="last"><b>Log Out</b></p></a></li>
            </ul>
      </div>
    </nav>
    <body class="image"></body>
</div>