/**
 * @project NumberNinja
 * @author Sukhpreet Singh Anand
 */

.matTable{
    background-color: whitesmoke;
    margin-top: 1px;
}
.mat-cell {
    color:black;
    border-bottom: 1px groove;
}
.mat-header-cell{
    color: black;
    border-bottom: 1px solid;
}