<!--<section class='tableSection'>-->
    <mat-table [dataSource]="dataSource" class="matTable">
        <ng-container matColumnDef="assignmentname">
                <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px">Assignment </mat-header-cell>
                <mat-cell *matCellDef="let element" class="hyperlink"> <u>{{element.name}}</u></mat-cell>
        </ng-container>

        <!--Deadline Column -->
        <ng-container matColumnDef="duedate">
                <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 18px"> Due Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.duedate}} </mat-cell>
        </ng-container>

        <!--Grade Column -->
        <ng-container matColumnDef="Score">
                <!-- <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 18px"> Score </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Score}} </mat-cell> -->
        </ng-container>

        <ng-container matColumnDef="status">
                <!-- <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 18px"> Score </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.Score}} </mat-cell> -->
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
