<!--
/**
 * @project NumberNinja
 * @authors Abhinaw Sarang, Saksham Jhawar
 */
-->

<div>
        <app-studenttoolbar></app-studenttoolbar>
</div>
<mat-table [dataSource]="dataSource" class="matTable">

        <!--Assignment Name Column -->
        <ng-container matColumnDef="assignmentname">
                <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px"><b>Assignment</b></mat-header-cell>
                <mat-cell *matCellDef="let element" class="hyperlink"><a [routerLink]="element._id">{{element.name}}</a></mat-cell>
        </ng-container>

        <!--Duedate Column -->
        <ng-container matColumnDef="duedate">
                <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px"><b>Due Date</b></mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.duedate}} </mat-cell>
        </ng-container>

        <!--score Column -->
        <ng-container matColumnDef="score">
                <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px"> Score </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.gradeReceived}} </mat-cell>
        </ng-container>

        <!--status Column -->
        <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef style="font-family: 'Times New Roman', Times, serif ; font-size: 22px"> Status </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns "></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
