<!--
/**
 * @project NumberNinja
 * @author Sagar Khar, Saksham Jhawar
 */
-->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:rgb(236, 160, 60); font-size: 40px">Number</a>
        <a class="navbar-brand" href="#" style="color:rgb(230, 189, 101); font-size: 25px; padding: 9px">Ninja</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="buttons" ><a href="#" style="color:black"><b>PENDING ACCOUNTS</b></a></li>
        <li class="buttons" ><a href="#" style="color:black" routerLink = "existingusers"><b>EXISTING ACCOUNTS</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="Logout()"><span class="glyphicon glyphicon-user" style="color:cyan"></span><br><b>Log Out</b></a></li>
      </ul>
    </div>
</nav>

<body class="image"></body>