/**
 * @project NumberNinja
 * @authors Sukhpreet Singh Anand, Saksham Jhawar
 */

.container{
    background-color:  rgb(76, 76, 82);
    border-radius: 5px;
    color: white;
}

.hyperlink {
    cursor: pointer;
}

.matTable{
    background-color: whitesmoke;
    margin-top: 1px;
}
.mat-cell {
    color:black;
    border-bottom: 1px groove;
}
.mat-header-cell{
    color: black;
    border-bottom: 1px solid;
}
.btn-info{
    border-radius: 20px;
    margin-bottom: 3px;
}