<div>
    <app-studenttoolbar></app-studenttoolbar>
</div>
<div class="example-container1">
    <div class="example-list"
      id="all"
      cdkDropList
      [cdkDropListData]="operator"
      cdkDropListConnectedTo="even"
      cdkDropListSortingDisabled
      (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let number of operator"
        [cdkDragData]="number"
        cdkDrag>{{number}}</div>
    </div>
  </div>
  <!-------------------------------------------------------------->

  <div class="example-container1">
    <div class="example-list"
      id="all"
      cdkDropList
      [cdkDropListData]="operands"
      cdkDropListConnectedTo="even"
      (cdkDropListDropped)="drop($event)">
      <div
      class="example-box"
        *ngFor="let number of operands"
        [cdkDragData]="number"
        cdkDrag>{{number}}</div>
    </div>
  </div>

  <!-------------------------------------------------------------->
  <div class="example-container2">
    <h2>Canvas</h2>
  
    <div
      class="example-box"
      id="even"
      cdkDropList
      cdkDropListOrientation="horizontal"
      [cdkDropListData]="even"
      cdkDropListConnectedTo="operator"
      (cdkDropListDropped)="drop($event)">
      <div
        class="example-box"
        *ngFor="let number of even"
        cdkDrag
        [cdkDragData]="number">{{number}}</div>
    </div>
  </div>
  <!-------------------------------------------------------------->
  
  
  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->