/**
 * @project NumberNinja
 * @author Sukhpreet Singh Anand
 */

#blocklyDiv {
    height: 560px;
    width: 100%;
    position: relative;
}

#bottom {
    width: 100%;
    background-color: lightgray;
    height: 50px;
    padding-left: 715px;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    padding-top: 9px;
    padding-bottom: 5px;
}
.canvasdiv{
    padding-top:1px;
}
.btn-info{
    border-radius: 20px;
    background-color: lightskyblue;
    margin-right:20px;
    float:left;
}
.lol{
    background-color: lightgray;
    font-size: 30px;
    padding-left: 680px;
}
.upper{
    padding-left: 720px ;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: white;
    margin-bottom: 2px;
    height: 70px;
    padding-top: 15px;
    border: 2px solid black;
    border-radius: 20px;
}