<!--
/**
 * @project NumberNinja
 * @authors Abhinaw Sarang, Smit Shah, Saksham Jhawar, Sagar Khar
 */
-->

<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Question Information</mat-card-title>
        <span class="toolbar-spacer"></span>
        <button mat-button (click)="onNoClick()"><mat-icon >cancel</mat-icon></button>
    </mat-toolbar>
</mat-card-header>
<mat-card-content>
    <div class="container"> 
        <form ngNativeValidate [formGroup]="questionForm" >
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="formulaType" style="font-family: 'Times New Roman', Times, serif ; font-size: 16px">Select Type:</label>
                        <select class="form-control" id="formulaType" width='50%' formControlName="formulaType" required>
                                <option>-</option>
                            <option>Fill in the Blanks</option>
                            <option *ngIf="grade">Find the Answer</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <body>
                            <h4><b>Instructions:</b></h4><br>
                            <h5><b>Grade 2:</b></h5>
                            <ul>
                                <li>- Maximum computation up to 20</li>
                                <li>- Only addition and subtraction</li>
                            </ul>
                        </body>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label style="font-family: 'Times New Roman', Times, serif ; font-size: 16px">Write Formula</label>
                        <input id="formula" type="text" formControlName="formula" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                            <body>
                                <h5><b>Grade 7:</b></h5>
                                <ul>
                                    <li>- Maximum computation up to 9999</li>
                                    <li>- Addition, subtraction, Multiplication, Division, Power and Square root</li>
                                </ul>
                            </body>
                        </div>
                </div>

                <div class="row" *ngIf="checkbox && questionForm.value.formulaType == 'Find the Answer'">
                        <div class="col-md-6">
                            <label style="font-family: 'Times New Roman', Times, serif ; font-size: 10px">Enter Option</label>
                            <input id="formula1" type="text" formControlName="formula1"  class="form-control" required>
                        </div>
                        <div class="col-md-6">
                                <label style="font-family: 'Times New Roman', Times, serif ; font-size: 10px">Enter Option</label>
                                <input id="formula2" type="text" formControlName="formula2"  class="form-control" required>
                        </div>
                        <div class="col-md-6">
                                <label style="font-family: 'Times New Roman', Times, serif ; font-size: 10px">Enter Option</label>
                                <input id="formula3" type="text"  formControlName="formula3" class="form-control" required>
                        </div>
                        <div class="col-md-6">
                                <label style="font-family: 'Times New Roman', Times, serif ; font-size: 10px">Enter Option</label>
                                <input id="formula4" type="text" formControlName="formula4"  class="form-control" required>
                        </div>
                </div>>

                <div class="row" *ngIf="questionForm.value.formulaType == 'Fill in the Blanks'">
                    <div class="col-md-6">
                        <button type="submit" id="addBlanks"  class="btn btn-success" (click)="myFunc()">Add Blanks</button>
                    </div>
                </div>

                <div class="row" *ngIf="questionForm.value.formulaType == 'Find the Answer'">
                        <div class="col-md-6">
                            <button type="submit" id="addsingleblank"  class="btn btn-success" (click)="myFuncForSingle()">Add Options</button>
                        </div>
                </div>

                <mat-button-toggle-group *ngIf="questionForm.value.formulaType == 'Fill in the Blanks'"  #group="matButtonToggleGroup" multiple>
                    <mat-button-toggle *ngFor="let item of digitsArray; let i = index" [value]= "i" (click)="addinarr(i)">
                        {{item}}
                    </mat-button-toggle>
                </mat-button-toggle-group>

                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" id="submitButton" class="btn btn-success" (click)="onSubmit()" disabled>
                            <mat-icon>done</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</mat-card-content>